/* dnd-kit-sortable-tree styles - minimal overrides for our design */
.dnd-sortable-tree_simple_wrapper {
  list-style: none;
  box-sizing: border-box;
  margin-bottom: -1px;
}

.dnd-sortable-tree_simple_tree-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: 1px solid hsl(var(--border));
  color: hsl(var(--foreground));
  box-sizing: border-box;
  background: hsl(var(--background));
}

.dnd-sortable-tree_simple_clone {
  display: inline-block;
  pointer-events: none;
  padding: 0.25rem;
}

.dnd-sortable-tree_simple_clone > .dnd-sortable-tree_simple_tree-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
}

.dnd-sortable-tree_simple_ghost {
  opacity: 0.5;
}

.dnd-sortable-tree_simple_disable-selection {
  user-select: none;
  -webkit-user-select: none;
}

.dnd-sortable-tree_simple_disable-interaction {
  pointer-events: none;
}

.dnd-sortable-tree_simple_handle {
  width: 1.25rem;
  min-width: 1.25rem;
  align-self: stretch;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dnd-sortable-tree_simple_tree-item-collapse_button,
.dnd-sortable-tree_folder_tree-item-collapse_button {
  border: 0;
  width: 1.25rem;
  min-width: 1.25rem;
  align-self: stretch;
  transition: transform 250ms ease;
  background: url("data:image/svg+xml;utf8,<svg width='10' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 41'><path fill='%2364748b' d='M30.76 39.2402C31.885 40.3638 33.41 40.995 35 40.995C36.59 40.995 38.115 40.3638 39.24 39.2402L68.24 10.2402C69.2998 9.10284 69.8768 7.59846 69.8494 6.04406C69.822 4.48965 69.1923 3.00657 68.093 1.90726C66.9937 0.807959 65.5106 0.178263 63.9562 0.150837C62.4018 0.123411 60.8974 0.700397 59.76 1.76024L35 26.5102L10.24 1.76024C9.10259 0.700397 7.59822 0.123411 6.04381 0.150837C4.4894 0.178263 3.00632 0.807959 1.90702 1.90726C0.807714 3.00657 0.178019 4.48965 0.150593 6.04406C0.123167 7.59846 0.700153 9.10284 1.75999 10.2402L30.76 39.2402Z' /></svg>") no-repeat center;
}

.dnd-sortable-tree_folder_simple-item-collapse_button-collapsed,
.dnd-sortable-tree_folder_tree-item-collapse_button-collapsed {
  transform: rotate(-90deg);
}
